<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
     xml:lang="en">
  <head>
    <title>Information Center for ARM</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <link type="text/css" rel="stylesheet" media="all" href="file://$TOOLKIT_DIR$/doc/infocenter/style/ewic.css" />
  </head>
  <body>
  <div id="topbanner"></div>
  <div id="titlebanner_small">
    <h2>Information Center for ARM</h2>
  </div>
  <div class="breadcrumb"><a href="$TOOLKIT_DIR$/doc/infocenter/index.JPN.html">Information Center for ARM</a> | EXAMPLES</div>
  <div class="mainblock">
   <h2>Example description</h2>

   <pre>  <!--Insert readme.txt-->
<span style="font-family: monospace;">
<h1>Template Workspace</h1>

=====================================================================================
<b>Templates</b>
Description of the Templates example
=====================================================================================

<u>Example Description</u>

This directory provides a reference template project that can be used to build any firmware application for
STM32F756xx/STM32F746xx devices using STM32CubeF7 HAL and running on NUCLEO-746ZG Rev.B board from STMicroelectronics.

This template provides two workspaces:
 - NUCLEO-746ZG Rev.B(AXIM-FLASH): using the Flash AXIM interface (Cache &amp; MPU features)
 - NUCLEO-746ZG Rev.B(ITCM-FLASH): using the Flash ITCM interface (ART Accelerator)

The template includes also two functions used to configure MPU feature and to enable the CPU Cache,
respectively MPU_Config() and CPU_CACHE_Enable().
These functions are provided as template implementation that User may integrate in his application,
to enhance the performance in case of use of AXI interface with several masters.

Note: Some code parts can be executed in the ITCM-RAM (16 KB) which decrease critical task execution time, compared
      to code execution from Flash memory. This feature can be activated using '#pragma location = ".itcmram"' to be
      placed above function declaration, or using the toolchain GUI (file options) to execute a whole source file in
    the ITCM-RAM.

Note: Care must be taken when using HAL_Delay(), this function provides accurate delay (in milliseconds)
      based on variable incremented in SysTick ISR. This implies that if HAL_Delay() is called from
      a peripheral ISR process, then the SysTick interrupt must have higher priority (numerically lower)
      than the peripheral interrupt. Otherwise the caller ISR process will be blocked.
      To change the SysTick interrupt priority you have to use HAL_NVIC_SetPriority() function.

Note: The application needs to ensure that the SysTick time base is always set to 1 millisecond
      to have correct HAL operation.


<u>Keywords</u>

Reference, Template, MPU, CPU Cache

Note:  If the user code size exceeds the DTCM-RAM size or starts from internal cacheable memories (SRAM1 and SRAM2),
       it is recommended to configure the latters as Write Through.
       This is ensured by configuring the memory attributes at MPU level in order to ensure cache coherence on SRAM1 and SRAM2.
       Please, refer to Template project for a typical MPU configuration.

Note:  If external memory is shared between several processors, it is recommended to configure it as Write Back (bufferable), shareable and cacheable.
       The memory base address and size must be properly updated.
       The user needs to manage the cache coherence at application level.

For more details about the MPU configuration and use, please refer to AN4838 Managing memory protection unit (MPU) in STM32 MCUs


<u>Directory contents</u>

  - Templates/Src/main.c                 Main program
  - Templates/Src/system_stm32f7xx.c     STM32F7xx system clock configuration file
  - Templates/Src/stm32f7xx_it.c         Interrupt handlers
  - Templates/Src/stm32f7xx_hal_msp.c    HAL MSP module
  - Templates/Inc/main.h                 Main program header file
  - Templates/Inc/stm32f7xx_hal_conf.h   HAL Configuration file
  - Templates/Inc/stm32f7xx_it.h         Interrupt handlers header file


<u>Hardware and Software environment</u>

  - This example runs on STM32F756xx/STM32F746xx devices.

  - This example has been tested with STMicroelectronics NUCLEO-746ZG Rev.B
    boards and can be easily tailored to any other supported device
    and development board.


<u>How to use it ?</u>

In order to make the program work, you must do the following :
 - Rebuild all files and load your image into target memory
 - Run the example



  <br\><b><a href="$CUR_DIR$/../../../../Documentation/STM32CubeF7GettingStarted.pdf">Getting started with STM32CubeF7 embedded software for STM32F7xx series</a></b>

  <br\><b><a href="$CUR_DIR$/../../../../Release_Notes.html">Release Notes for STM32CubeF7 Embedded Software</a></b>

  <br\><b><a href="$CUR_DIR$/../Release_Notes.html">Release Notes for STM32F746ZG-Nucleo Templates</a></b>

</span>
  </pre>
  </div>
  </body>
</html>

